#section-shopping h3{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-title);
}

#shopping-list-recipes,
#shopping-list-others {
  flex: 1 1 45%; 
  min-width: 300px; 
  box-sizing: border-box;
  height: auto !important;   
  overflow: visible;          
  display: block; 
}
#shopping-list-recipes.rotated,
#shopping-list-others.rotated {
  transform-box: fill-box;
  transform-origin: center center;
}
#shoppingList,
#manualList {
  list-style: none;       
  padding-left: 0;
  margin: 0;
  font-size: 0.85rem;     
  column-count: 2;        
  column-gap: 1.5rem;   
   
}
#shopping-list-recipes,
#shopping-list-others {
  
  /* Style post-it */
  background-color: var(--colo-bg-post-it);         
  border-radius: 10px;                
  box-shadow: var(--shadow-lg); 
  padding: 1.5rem;
  font-family: inherit;
  transition: transform 0.2s;
}
#shopping-list-recipes {
    transform: rotate(-1deg);
  }
  #shopping-list-others {
    transform: rotate(1deg);
  }
  #shoppingList li,
#manualList li {
  position: relative;       
  padding-left: 1.2rem;     
  margin-bottom: 0.5rem;
  font-family: comic sans ms, sans-serif;
    color: var(--color-text);
}


#shoppingList li::before,
#manualList li::before {
  content: "✦";          
  display: inline-block; 
  position: static;  
  width: 1.2rem; 
  left: 0;                  
  top: 0.1rem;              
  color: #a67c52;           
  font-size: 0.9rem;        
}

  .shoppingList-class button {
    background: none;                
    border: none;                   
    cursor: pointer;
    color: var(--color-text-muted);  
    font-size: 0.70rem;                 
    transition: color 0.2s ease, transform 0.2s ease;
  }
  
  .shoppingList-class button i {
    pointer-events: none; 
  }  
  #manualQty{
    width: 20%;
  }
  #manualName{
    width: 47%;
  }
  #manual-ingredient-form{
    flex-wrap: nowrap;
  }