/* =========================
   TOGGLE
   ========================= */
   .toggle-content {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: max-height 0.4s ease-out;
  }
  
  .toggle-content.active {
    position: relative;
    padding: 1rem;
    opacity: 1;
    max-height: 3000px;
    overflow: visible;
    position: relative;
    z-index: 3;            
  }
